x64/Debug/AccountSummaryTags.obj
.vs/TheTradingMachine/v14/.suo
TheTradingMachine.VC.db
x64/Debug/AvailableAlgoParams.obj
*.obj
*.tlog
*.idb
*.pdb
*.log
*.ilk
x64/Debug/TheTradingMachine.exe
*.opendb
*.ipch
*.suo
*.db
*.suo
.vs/TheTradingMachine/v15/Solution.VC.db
.vs/TheTradingMachine/v15/Browse.VC.db
*.csv
.vs/TheTradingMachine/v15/Solution.VC.db-shm
*.db-wal
*.exe
*.ipch
*.ipch